.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
}
.navbar-brand img {
  border-radius: 50%;
  border: #ffffff solid 2px;
  width: 50px;
  height: 50px;
}
.navbar-light {
  background-color: #575151;
}
.navbar-text {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  position: absolute;
  left: 200px;
}
.uvod {
  font-size: 15px;  
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
  background-size: 0px;
}
.uvod:hover {
  color: #000000;
  text-decoration: none;
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  
}
.row {
  position: relative;
  top: 50px;
}
.card1 {
  width: 50%;
  margin: 0 left;
}
.card2 {
  width: 50%;
  margin: 0 right;
}
.card2-img {
  position: relative;
  left: 40%;
  top: 50px;
  width: 50%;
  border: #ffffff solid 2px;
  border-radius: 10%;
}